# rename this file to example.env and insert meaningful values
OAUTH_REALM = <realm>
OAUTH_CLIENT_ID = <client_id>
OAUTH_CLIENT_SECRET = <client_secret>
OAUTH_SERVER_ROOT = <server_root>
OAUTH_SCOPE = <scope>
GRAPHQL_ENDPOINT = <endpoint>